#addProject-btn {
    color: var(--blue);
    transition: all 0.3s ease;
}

.sidebar:has(#newProjectSection:not(:empty)) #addProject-btn {
    color: var(--mauve);
    background-color: #1e1e2ed0;
}

.newProjectSection:not(:empty) {
    background-color: #1e1e2ed0;
    padding: 5px 20px 20px 20px;
}

.newProjectSection input {
    width: 100%;
    color: var(--text);
    border: 1px solid transparent;
    padding: 5px 12px;
    border-radius: 4px;
    outline: none;
    font-family: inherit;
    transition: border-color 0.4s ease-in-out;
}

.newProjectSection input:focus {
    border-color: var(--surface2);
}

.newProjectSection input:hover:not(:focus) {
    border-color: var(--surface0);
}

.project-form-title {
    margin-top: 0;
    margin-bottom: 1.1rem;
}
