/*  Modal / Container Styling */
.task-form {
    background-color: #1e1e2ed0;
    backdrop-filter: blur(10px);
    border: 1px solid var(--border-subtle);
    border-radius: 4px;
    padding: 18px 15px;
    margin: 20px auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 6px;
    max-width: 800px;
    box-sizing: border-box;
}

.task-form-header {
    display: none;
}

/* Inputs (Title & Description) */
.task-form-title,
.task-form-description {
    background-color: transparent;
    border: none;
    color: var(--text);
    font-family: "Google Sans Code", monospace;
    outline: none;
    display: block;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.4s ease-in-out;
}

.task-form-title {
    border-radius: 4px;
    padding: 5px 12px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
    color: var(--mauve);
    border: 1px solid transparent;
}

.task-form-description {
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 5px 12px;
    font-size: 13px;
    color: var(--subtext1);
    resize: none;
    margin-bottom: 5px;
    min-height: 40px;
}

.task-form-title::placeholder,
.task-form-description::placeholder {
    color: #45475a;
}

.task-form-title:focus,
.task-form-description:focus {
    border-color: var(--surface1);
}
.task-form-title:hover:not(:focus),
.task-form-description:hover:not(:focus) {
    border-color: var(--surface0);
}

/* Options Row */

.og-form-options,
.task-form-options {
    padding: 5px 12px;
    display: flex;
    gap: 5px;
}

.task-form-options {
    justify-content: space-between;
    flex-wrap: wrap;
}

/*  selects/inputs  */
.task-form-date,
.task-form-priority,
.task-form-project {
    background-color: #11111b;
    border: 1px solid var(--border-subtle);
    border-radius: 4px;
    color: var(--subtext1);
    font-family: "Google Sans Code", monospace;
    font-size: 12px;
    padding: 4px 10px;
    cursor: pointer;
    outline: none;
    transition:
        background 0.2s,
        border-color 0.2s;
}

/* Hover effects for the option */
.task-form-date:hover,
.task-form-priority:hover,
.task-form-project:hover {
    background-color: var(--surface0);
    border-color: var(--surface2);
}

/* Buttons / Footer Row */
.task-form-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

/* Cancel Button */
.task-form-cancel-btn {
    background: none;
    border: none;
    color: var(--overlay1);
    font-family: "Google Sans Code", monospace;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 4px;
}

.task-form-cancel-btn:hover {
    background-color: var(--red);
    background-color: rgba(243, 139, 168, 0.1);
}

/* Create/Add Task Button */
.task-form-create-btn {
    background-color: var(--mauve);
    color: #11111b;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-family: "Google Sans Code", monospace;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    transition: opacity 0.2s;
}

.task-form-create-btn:hover {
    opacity: 0.9;
}
